[core]
	excludesfile = /Users/jonathanhinds/.gitignore
	hooksPath = /Users/jonathanhinds/Documents/.git-hooks/
[user]
	name = Jonathan Hinds
	email = jhinds2010@gmail.com
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	undo = reset --soft HEAD~